<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>246793231071-an7le1noaeal70k1bj08ageo9iv7av24.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.246793231071-an7le1noaeal70k1bj08ageo9iv7av24</string>
	<key>API_KEY</key>
	<string>AIzaSyCVjCm9CBEBVY6lgIKyoREGagiZPmuQTKM</string>
	<key>GCM_SENDER_ID</key>
	<string>246793231071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.soengius.chatup</string>
	<key>PROJECT_ID</key>
	<string>chatup-cf45b</string>
	<key>STORAGE_BUCKET</key>
	<string>chatup-cf45b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246793231071:ios:a2b559f73b720fd12ce76a</string>
</dict>
</plist>